<h2>Address</h2>
<div class="address">
  <div class="field">
    <%= label_tag 'Country' %><br />
    <%= text_field_tag 'merchant[addresses_attributes[][country]]' %>
  </div>
  <div class="field">
    <%= label_tag 'City' %><br />
    <%= text_field_tag 'merchant[addresses_attributes[][city]]' %>
  </div>

  <div class="field">
    <%= label_tag 'Postal Code' %><br />
    <%= number_field_tag 'merchant[addresses_attributes[][postal_code]]' %>
  </div>

  <div class="field">
    <%= label_tag 'Street' %><br />
    <%= text_field_tag 'merchant[addresses_attributes[][street]]' %>
  </div>
</div>
