<div class="order-list">
  <h4>You currently have: <%= pluralize(@orders.count, 'order') %> awaiting confirmation.</h4>
  <div class="tabs">
    <%= link_to 'New Orders', root_path, class: 'active' %>
    <%= link_to 'Ready to Ship', ready_to_ship_path %>
    <a href="#">Track</a>
  </div>
  <table>
    <tr>
      <th><span class="arrow-down">▼</span> Recipient</th>
      <th><span class="arrow-down">▼</span> Type</th>
      <th><span class="arrow-down">▼</span> kg</th>
      <th><span class="arrow-down">▼</span> L(cm)</th>
      <th><span class="arrow-down">▼</span> W(cm)</th>
      <th><span class="arrow-down">▼</span> H(cm)</th>
      <th><span class="arrow-down">▼</span> Courier</th>
      <th><span class="arrow-down">▼</span></th>
    </tr>
    <% @orders.each do |order| %>
      <tr class="order" data-order='{"id": <%= order.id %>}'>
        <td><%= order.recipient %></td>
        <td>
          <%= select_options_tag(
            nil,
            [
              ['--select-type--', '', { "data-shipment": '{"shipment_type": ""}' }],
              ['Parcel', 'Parcel', { "data-shipment": '{"shipment_type": "Parcel"}' }],
              ['Satchel 1kg', 'Satchel 1kg', { "data-shipment": '{"shipment_type": "Satchel 1kg"}' }]
            ],
            value: order.shipment_type,
            class: 'shipment_type') %>
        </td>
        <td><%= order.weight %></td>
        <td><%= order.length %></td>
        <td><%= order.width %></td>
        <td><%= order.height %></td>
        <td>
          <%= select_options_tag(
            nil,
            [
              ['--select-courier--', '', { "data-shipment": '{"courier": ""}' }],
              ['Aramex', 'Aramex', { "data-shipment": '{"courier": "Aramex"}' }],
              ['Ninja Van', 'Ninja Van', { "data-shipment": '{"courier": "Ninja Van"}' }]
            ],
            value: order.courier,
            class: 'courier_type') %>
        </td>
        <td>
          <%= button_to 'Confirm',
            merchants_order_confirm_order_path(order.id),
            params: { confirm: true },
            method: :put %>
        </td>
      </tr>
    <% end %>
    <tr class="blank_row" height="36px">
      <td colspan="8"></td>
    </tr>
  </table>
</div>
