<div class="order-list ready">
  <h4>
    You currently have:
    <%= pluralize(@orders.count, 'confirmed order') %>.</h4>
  <div class="tabs">
    <%= link_to 'New Orders', root_path %>
    <%= link_to 'Ready to Ship', ready_to_ship_path, class: 'active' %>
    <a href="#">Track</a>
  </div>
  <table>
    <tr>
      <th><span class="arrow-down">▼</span> Order Date</th>
      <th><span class="arrow-down">▼</span> Order Ref</th>
      <th><span class="arrow-down">▼</span> Recipient</th>
      <th><span class="arrow-down">▼</span> Courier</th>
      <th><span class="arrow-down">▼</span> Quote</th>
    </tr>
    <% @orders.each do |order| %>
      <tr class="order" data-order='{"id": <%= order.id %>}'>
        <td><%= order.confirmed_at.strftime("%e %b %I:%MPM") %></td>
        <td>
          <% if order.courier == 'Aramex' %>
          <%= button_to 'Track Order',
            merchants_order_track_path(order.id),
            method: :get %>
          <% else %>
            Not Available
          <% end %>
        </td>
        <td><%= order.recipient %></td>
        <td><%= order.courier %></td>
        <td><%= "$#{order.delivery.quote}" if order.delivery %></td>
      </tr>
    <% end %>
    <tr class="blank_row" height="36px">
      <td colspan="8"></td>
    </tr>
  </table>
</div>
