<div class="order-list">
  <div class="tabs">
    <%= link_to 'New Orders', root_path %>
    <%= link_to 'Ready to Ship', ready_to_ship_path %>
    <a href="#" class="active">Track</a>
  </div>
  <div class="shipment">
    <div class="shipment-map">
      <div id="map"></div>
    </div>
    <div class="shipment-status">
      <div id="shipment-info"></div>
    </div>
    <div class="message">Loading Data...</div>
  </div>
</div>
