<AramexShipmentRequest>
  <Header>
    <RequestID><%= order.id %></RequestID>
    <DateTimeStamp><%= order.created_at %></DateTimeStamp>
  </Header>
  <Shipment>
    <RecipientName><%= order.recipient %></RecipientName>
    <RecipientAddress><%= order.recipient_address %></RecipientAddress>
    <MerchantCompanyName><%= order.merchant_name %></MerchantCompanyName>
    <MerchantAddress><%= order.merchant_address %></MerchantAddress>
    <ParcelWeight><%= order.weight %></ParcelWeight>
  </Shipment>
</AramexShipmentRequest>
