<div class="navbar">
  <div class="navbar-user-actions">
    <div class="info">
      Logged as: <span class="merchant-name"><%= current_merchant.name %></span>
    </div>
    <div class="sign-out">
      <%= button_to 'Log Out', destroy_merchant_session_path, method: :delete %>
    </div>
  </div>

  <div class="notifications">
    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert"><%= alert %></p>
    <% end %>
  </div>
</div>
