.shipment {
  height: 550px;
  position: relative;
  background-color: darkgray;

  .shipment-map {
    width: 52%;
    height: 100%;
    display:inline-block;

    #map {
      display: inline-block;
      height: 100%;
      width: 100%;
      padding: 2px 0;
    }
  }

  .shipment-status {
    width: 48%;
    height: 100%;
    display:inline-block;
    float: right;

    #shipment-info {
      background: #FFF;
      border: 2px solid #2e2e2e;
      display: inline-block;
      font-weight: 500;
      font-size: 28px;
      text-align: center;
      height: 100%;
      width: 100%;

      p {
        padding-top: 12%;
      }
    }
  }

  .message {
    position: absolute;
    top: 48%;
    left: 44%;
  }
}

.navbar {
  width: 100%;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 0;

  .navbar-user-actions {
    background: lightgray;
    padding: 20px;
    float: right;
    margin-right: 20px;
    border-radius: 5px;

    .merchant-name {
      font-weight: 600;
      font-size: 16px;
    }

    .info {
      font-size: 14px;
      display: inline-block;
    }

    .sign-out {
      display: inline-block;
    }
  }

  .notifications {
    display: inline-block;
    float: right;
    margin-right: 20px;
    position: relative;
    z-index: -1;

    .notice {
      background-color: #4caf50;
    }
    .alert {
      background-color: #d40000;
    }

    .notice, .alert {
      border-radius: 5px;
      color: #FFF;
      font-weight: 600;
      padding: 15px 20px;
      margin: 5px -24px 0 0;;
    }
  }
}

p.alert {
  text-align: center;
}

.log-in, .sign-up, .edit-merchant, .password-form {
  background-color: lightgray;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
  width: 320px;

  input {
    margin-bottom: 20px;
    border-radius: 5px;
    &[type="email"], &[type="password"] {
      width: 300px;
    }
  }

  .address input {
    width: 300px;
  }
}

.sign-up, .password-form {
  padding: 55px;

  #error_explanation li {
    color: darkred;
  }
}

.order-list {
  width: 60%;
  margin: 0 auto;

  .arrow-down {
    font-family: u2400;
    font-size: 12px;
  }

  .blank_row {
    background-color: #dddddd;
    border: 1px solid #545353;
  }

  .tabs {
    margin: 40px 0 40px 0;

    a {
      border: 1px solid #545353;
      border-radius: 10px 10px 0px 0px;
      color: #000000;
      display: inline-block;
      margin-right: -5px;
      text-align: center;
      text-decoration: none;
      padding: 10px 0;
      width: 140px;
    }

    .active {
      background: #dddddd;
    }
  }

  td input[type="submit"] {
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
      border: 1px solid #545353;
      text-align: left;
      padding: 8px;
  }

  td select {
    border: none;
    background: none;
    font-size: 16px;
    text-indent: 1px;
    text-overflow: '';
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
      outline: none;
    }
  }

  th {
    background: #bfbfbf;
    border: 1px solid #545353;
    font-weight: 400;
  }

  tr:nth-child(odd) {
      background-color: #dddddd;
  }
}
